body {
  background-color: #355c7d;
}

diffdel {
    font-weight: bold;
  background-color: #f1948a;
  text-decoration: line-through;
  margin-right: 4px;
  margin-left: 4px;
}


diffadd { 
    font-weight: bold;
  background-color: #76d7c4;
  margin-right: 4px;
  margin-left: 4px;
}

bgdel { 
  background-color: #fad8b8;
  text-decoration: line-through;
  margin-right: 4px;
  margin-left: 4px;
}


bgadd { 
  background-color: #d1f2eb;
  margin-right: 4px;
  margin-left: 4px;
}
